body {
  font-size: 16;
  background-color: #fff7f6;
  font-family: 'Slabo 27px', serif;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  background: #fedbd0;
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #a54a58;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #fedbd0;
}

.sidebar .nav-link.active {
  color: #fedbd0;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: #fedbd0;
}

.sidebar-heading {
  font-size: 18;
  text-transform: uppercase;
  font-family: 'Slabo 27px', serif;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 20;
  color: #fedbd0;
  background-color: #a54a58;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
  font-family: 'Slabo 27px', serif;
  text-align: center;
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.navbar{
    background-color: #a54a58;
}

.nav-link{
  color:#fedbd0;
}

main{
  margin-top: 50px;
}

.navbar-toggler{
  background-color: #fedbd0;
}

main{
  min-height: calc(100vh - 108px);
}

.card-header{
  background-color: #fedbd0;
}

/*Select2*/

.select2-selection__rendered {
  line-height: 38px !important;
}
.select2-container .select2-selection--single {
  height: 38px !important;
}
.select2-selection__arrow {
  height: 36px !important;
}

/*
Colores: 
    Oscuro: #a54a58; 165, 74, 88
    Medio: #fedbd0; 254, 219, 208
    Claro: #feeae6; 254, 234, 230
    Mas claro: #fff7f6; 255, 247, 246
*/

